body {
    background-color: aliceblue;
    margin: auto;

}

h2 {
    color:purple ;

}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;

}


th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;

}

th {
    background-color: rgb(44, 23, 44);
    color: wheat;

}
