table {
padding: 20px;
border: 1px solid black;
border-collapse: collapse;
text-align: center;
margin-left: 20px
}
td {
border: 1px solid black;
border-collapse: collapse;
text-align: center;
padding: 3px;
}
thead {
font-weight: bold;
background-color: #7896f9;
}
tbody tr {
background-color: #dfddfa;
}
tfoot {
background-color: #93f4c0;
}
